body{
	background-image: url('https://img.freepik.com/premium-photo/abstract-minimal-black-background-sport-3d-rendering-pattern-texture_184920-893.jpg');
	padding: 10px 25px;
}

#animal-photos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: gray;
	border-radius: 15px;
}

#photo-heading{
	width: 100%;
	text-align: center;
	color: white;
	font-weight: lighter;
	text-transform: uppercase;
}

img{
	width: 30%;
	margin-bottom: 13px;
	border-radius: 20px;
}